/** CHECKMARK */

.checkmark-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid $brand-yellow;
  border-top: 3px solid white;
  transform: rotate(45deg);
}

.checkmark {
  display: flex;
  height: 68px;
  width: 27px;
  border-bottom: 3px solid #F5A623;
  border-right: 3px solid #F5A623;
  position: relative;
  top: -13px;
  bottom: 0;
  left: 20px;
}
