/** NAVBAR */
.navbar {
  height: 5rem;
  width: 100%;
  background-color: $background-white;
  position: fixed;
  z-index: 5;
  border: none;
  margin: 0;
  padding: 1rem 0;
  // border: 5px solid red
}

.navbar-inner {
  display: flex;
  // align-items: center;
  justify-content: space-between;

  @include respond-to(tablet-mobile-desktop){
    padding: 0 2rem;
  }
}

.navbar-header {


  // @include respond-to(tablet-and-mobile) {
  //   .fa-bars {
    // float: right;
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //   }
  // }
}

#navbar-logo {
  height: 20px;
}

.navbar-menu {
  
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  // justify-content: space-between;

  .navbar-menu__list-item {
 
    @include respond-to(tablet-and-mobile) {
      display: none;
    }
  }
}

.navbar-link {
  @include navbar-links($text-transform: none)
}

.navbar-btn {
  @include buttons($bg-color: $brand-yellow, $text-color: $white)
}

#navbar-icon {
  display: none;
  
  @include respond-to(tablet-and-mobile){
    display: block;
  }

}

// @include respond-to(tablet-and-mobile) {
//   .navbar__menu {
//     display: none;
//   }

//   .navbar__header.a {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }


