@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (min-width: $break-point-smobile) and (max-width: $break-point-mobile) { @content; }
  } @else if $media == smobile {
    @media only screen and (max-width: $break-point-smobile) { @content; }
  } @else if $media == tablets {
    @media only screen and (min-width: $break-point-mobile + 1) and (max-width: $break-point-large-tablet) { @content; }
  } @else if $media == tablet-and-mobile {
    @media only screen and (max-width: $break-point-large-tablet) { @content; }
  } @else if $media == tablet-mobile-desktop {
    @media only screen and (max-width: $break-point-desktop) { @content; }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-point-desktop + 1) and (max-width: $break-point-large) { @content; }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-point-large) { @content; }
  } @else if $media == medium-and-wide-screens {
    @media only screen and (min-width: $break-point-large-tablet) { @content; }
  }
}

@mixin buttons(
  $bg-color, 
  $text-color, 
  $padding: 10px 20px, 
  $font-size: 12px, 
  $border: none,
  $border-radius: 4px,
  $width: 100%) 
{
  background-color: $bg-color;
  color: $text-color;
  padding: $padding;
  font-size: $font-size;
  font-weight: 500;
  letter-spacing: 0.508366px;
  border: $border;
  border-radius: $border-radius;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: $width;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@mixin links($text-color: $black-01, $letter-spacing: 0.508366px, $text-transform: uppercase) {
  color: $text-color;
  letter-spacing: $letter-spacing;
  font-weight: 500;
  text-transform: $text-transform;
  text-decoration: none;
  cursor: pointer;
}

@mixin header-texts($text-color: $black-text, $line-height: 22px, $font-size: 1rem, $font-weight: 500, $letter-spacing: 0.508366px, $text-transform: uppercase) {
  color: $text-color;
  letter-spacing: $letter-spacing;
  font-size: $font-size;
  font-weight: $font-weight;
  text-transform: $text-transform;
  text-decoration: none;
  line-height: $line-height;
}

@mixin paragraph($text-color: $black-01, $line-height: 22px, $font-size: 1rem, $font-weight: 500, $letter-spacing: 0.508366px, $text-transform: uppercase) {
  @include header-texts(
    $text-color, $line-height, 
    $font-size, $font-weight, 
    $letter-spacing, $text-transform
  )
}

@mixin horizontal-line($line-border: 1px solid #CCB7B1, $width: 100% ) {
  border: $line-border;
  width: $width;
}

@mixin logo($text-color: $white, $font-family: $font-family-logo, $font-size: 40px, $margin: 0) {
  color: $text-color;
  font-family: $font-family;
  text-decoration: none;
  font-size: $font-size;
  margin: $margin;

  @include respond-to(handhelds) {
    font-size: 30px;
  }
}

@mixin form-label($text-color: $white, $font-weight: 100, $text-transform: uppercase, $letter-spacing: 4px) {
  color: $text-color;
  font-size: 10px;
  font-weight: $font-weight;
  text-transform: $text-transform;
  letter-spacing: $letter-spacing;
}
