// Colors
$brand-yellow: #F5A623;
$brand-hover-yellow: #EF9500;

$black: #000000;
$black-text: #12122C;
$black-modal: #000;
$black-00: #4F4F4F;
$black-01: #333333;
$black-02: #888;
$black-03: #aaaaaa;
$black-04: #4A4A4A;
$black-05: #828282;

$background-white: #F2F2F2;
$white: #FFFFFF;

// Screen width break points
$break-point-smobile: 320px;
$break-point-medium-mobile: 400px;
$break-point-mobile: 480px;
$break-point-tablet: 768px;
$break-point-large-tablet: 890px;
$break-point-desktop: 1076px;
$break-point-large: 1500px;

// Fonts
$font-family-base: 'Montserrat', sans-serif;
$font-family-logo: 'Lobster', cursive;
